html
{
	font-size: 62.5%;
}

body
{
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
}

@media screen and (min-width:480px) and (max-width:599px)
{
	body
	{
		font-size: 1.4rem;
	}

	table
	{
		width: 480px;
	}
}

@media screen and (min-width:600px) and (max-width:959px)
{
	body
	{
		font-size: 1.5rem;
	}

	table
	{
		width: 100%;
	}
}

@media screen and (min-width:960px) and (max-width:1279px)
{
	body
	{
		font-size: 1.5rem;
	}

	table
	{
		width: 100%;
	}
}

@media screen and (min-width:1280px)
{
	body
	{
		font-size: 1.6rem;
	}

	table
	{
		width: 100%;
	}
}