html
{
	font-size: 50%;
}

body
{
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
	margin: 0 0 0 0;
}

h1
{
	font-family: serif;
}

table
{
	width: 270px;
}

svg
{
	width: 30px;
	height: 30px;
}

img
{
	width: 30px;
}

@media screen and (min-width:480px) and (max-width:599px)
{
	body
	{
		font-size: 1.3rem;
	}
}

@media screen and (min-width:600px) and (max-width:959px)
{
	body
	{
		font-size: 1.4rem;
	}
}

@media screen and (min-width:960px) and (max-width:1279px)
{
	body
	{
		font-size: 1.4rem;
	}

	table
	{
		width: 540px;
	}

	svg
	{
		width: 60px;
		height: 60px;
	}

	img
	{
		width: 60;
	}
}

@media screen and (min-width:1280px)
{
	body
	{
		font-size: 1.6rem;
	}

	table
	{
		width: 540px;
	}

	svg
	{
		width: 60px;
		height: 60px;
	}

	img
	{
		width: 60px;
	}
}