html
{
	font-size: 62.5%;
	font: serif;
}

body
{
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
}

table
{
	align: center;
	width: 288px;
}

svg
{
	width: 50%;
	height: auto;
}

img
{
	width: 32;
}

@media screen and (min-width:480px) and (max-width:599px)
{
	body
	{
		font-size: 1.4rem;
	}

	table
	{
		align: center;
		width: 288px;
	}

	svg
	{
		width: 50%;
		height: auto;
	}

	img
	{
		width: 32;
	}
}

@media screen and (min-width:600px) and (max-width:959px)
{
	body
	{
		font-size: 1.5rem;
	}

	table
	{
		align: center;
		width: 288px;
	}

	svg
	{
		width: 50%;
		height: auto;
	}

	img
	{
		width: 32;
	}
}

@media screen and (min-width:960px) and (max-width:1279px)
{
	body
	{
		font-size: 1.5rem;
	}

	table
	{
		align: center;
		width: 576px;
	}

	svg
	{
		width: 100%;
		height: auto;
	}

	img
	{
		width: 64;
	}
}

@media screen and (min-width:1280px)
{
	body
	{
		font-size: 1.6rem;
	}

	table
	{
		align: center;
		width: 576px;
	}

	svg
	{
		width: 100%;
		height: auto;
	}

	img
	{
		width: 64;
	}
}